
<!DOCTYPE html>
<html>
<body style="font-family:verdana" onload="AutoAdd()">
 <h3>Active Devices</h3>

<table id="dynaTable">

<script type="text/javascript">
var devices = {{SerVar | tojson }};   

function AutoAdd () {
    for (var key in devices) 
        add_row (key);
}

function add_row (device_id) {
    console.log ("Device: " +device_id + " -> IP: " +devices[device_id]["ip_address"]);
    var table = document.getElementById("dynaTable");    
    var row = table.insertRow (0);    /* appending rows from bottom to top */
    
    var cell = row.insertCell (0);     
    var label = document.createElement("Label");
    label.innerHTML = device_id; /* .slice(6,); */
    label.style="font-size:12px";
    cell.width = "100px";
    cell.appendChild (label);
    
    var ip = devices[device_id]["ip_address"];
    cell = row.insertCell (1);
    label = document.createElement("Label");
    label.innerHTML = ip;
    label.style="font-size:12px";
    cell.width = "100px";
    cell.appendChild (label);    
    
    cell = row.insertCell (2);
    label = document.createElement("Label");
    label.innerHTML = "<a href=\"http://" + ip +"\">Open</a>";
    label.style="font-size:12px";
    cell.width = "100px";
    cell.appendChild (label);     
}
</script>

</body>
</html>
